*  {
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #14213d;
  min-height: 100vh;
  padding: 30px;
}

label {
  padding: 20px;
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  color: #e5e5e5;
}

.clearTextBtn {
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  padding: 0;
  margin: 8px 0;
  background-color: transparent;
  color: #5F6368;
}

.clearTextBtn:hover,
.clearTextBtn:active {
  background-color: #F5F5F5;
  color: #5F6368;
}

button {
  font-family: Poppins, sans-serif;
  background-color: #80ED99;
  color: black;
  border-radius: 4px;
  padding: 10px 13px;
  border: none;
  outline: none;
  cursor: pointer;
}

button:active,
button:focus,
button:hover {
  background-color: #38A3A5;
  color: white;
  transition: all 750ms;
}

#convertedText {
  display: block;
  background-color: white;
  width: 550px;
  text-align: left;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  min-height: 120px;
  cursor: text;

}
