html body .App #input-container #textBox, html body .App #select-container .selectBox .option, html body .App #select-container .selectBox #default, html body .App #output-container #text-container {
  -webkit-box-shadow: 2px 2px 14px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 2px 2px 14px 0px rgba(50, 50, 50, 0.5);
}

html body .App #input-container #textBox .clearTextBtn, html body .App #output-container #btn-container .clearTextBtn, html body .App #output-container #btn-container #copyBtn {
  background-color: transparent;
  color: #3C403D;
  padding: 10px;
  border: none;
  position: absolute;
  font-size: 16px;
  cursor: pointer;
}

html body .App #input-container #textBox .clearTextBtn:hover, html body .App #output-container #btn-container .clearTextBtn:hover, html body .App #output-container #btn-container #copyBtn:hover, html body .App #input-container #textBox .clearTextBtn:focus, html body .App #output-container #btn-container .clearTextBtn:focus, html body .App #output-container #btn-container #copyBtn:focus, html body .App #input-container #textBox .clearTextBtn:active, html body .App #output-container #btn-container .clearTextBtn:active, html body .App #output-container #btn-container #copyBtn:active {
  color: #39603D;
}

html body .App #select-container .selectBox #capitalise.tutorial::before, html body .App #select-container .selectBox #uppercase.tutorial::before, html body .App #select-container .selectBox #lowercase.tutorial::before {
  font-size: 14px;
  position: absolute;
  width: 120px;
  color: #DADED4;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  text-align: right;
}

html body .App #input-container #textBox #inputText, html body .App #output-container #text-container #inner-container #convertedText {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0);
  font-size: 17px;
  line-height: 23px;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes bouncing-up-down {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes bouncing-up-down {
  from {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes bouncing-left-right {
  from {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  to {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes bouncing-left-right {
  from {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  to {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
  color: #3C403D;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

html body .App {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  background: linear-gradient(110deg, #A3BCB6 0 50%, #DADED4 50% 100%);
  border: 10px solid white;
  -ms-grid-rows: (1fr)[6];
  -ms-grid-columns: (1fr)[12];
      grid-template: repeat(6, 1fr)/repeat(12, 1fr);
}

html body .App .container {
  padding: 50px;
}

html body .App #prompt {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(60, 64, 61, 0.5);
  z-index: 30;
}

html body .App #prompt h1 {
  position: absolute;
  overflow: hidden;
  font-size: 36px;
  white-space: nowrap;
  color: #DADED4;
  margin: 0 auto;
  letter-spacing: .15em;
  top: 45%;
  left: 30%;
  -webkit-animation: typing 3.5s steps(40, end) forwards;
          animation: typing 3.5s steps(40, end) forwards;
}

html body .App #prompt h1.notVisible {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

html body .App #input-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / span 6 / span 6;
}

html body .App #input-container #input-tooltip {
  font-size: 25px;
  color: #DADED4;
}

html body .App #input-container #input-tooltip.isVisible {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

html body .App #input-container #input-tooltip.notVisible {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

html body .App #input-container #input-tooltip #arrow-down {
  margin-left: 20px;
  -webkit-animation: bouncing-up-down 0.5s 2.5s 3;
          animation: bouncing-up-down 0.5s 2.5s 3;
}

html body .App #input-container #textBox {
  height: 60vh;
  width: 100%;
  margin-top: 30px;
  position: relative;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

html body .App #input-container #textBox #inputText {
  color: #39603D;
  resize: none;
}

html body .App #input-container #textBox #charCount {
  bottom: 17px;
  left: 20px;
  position: absolute;
  font-size: 13px;
}

html body .App #input-container #textBox .clearTextBtn {
  right: 15px;
  bottom: 7px;
}

html body .App #input-container #textBox .clearTextBtn.isVisible {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: block;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

html body .App #input-container #textBox .clearTextBtn.notVisible {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

html body .App #select-tooltip {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-area: 6 / 5 / span 1 / span 5;
  margin-top: 20px;
  font-size: 25px;
  color: #DADED4;
}

html body .App #select-tooltip.isVisible {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

html body .App #select-tooltip.notVisible {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

html body .App #select-tooltip #arrow-right {
  margin-left: 20px;
  -webkit-animation: bouncing-left-right 0.5s 4.5s 3;
          animation: bouncing-left-right 0.5s 4.5s 3;
}

html body .App #select-container {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 5 / 10 / span 2 / span 3;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 20;
}

html body .App #select-container .selectBox {
  position: relative;
}

html body .App #select-container .selectBox .option {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding: 35px;
  cursor: pointer;
  display: block;
  background: linear-gradient(145deg, #585a58, #3C403D);
  background-color: #39603D;
  color: white;
  position: absolute;
  padding: 30px 15px;
  right: 30px;
  top: 120px;
}

html body .App #select-container .selectBox .option:hover, html body .App #select-container .selectBox .option :focus, html body .App #select-container .selectBox .option :active {
  background: linear-gradient(145deg, #292929, #3C403D);
  color: #bebdbd;
}

html body .App #select-container .selectBox #capitalise.isVisible {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #capitalise.notVisible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #capitalise.tutorial {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #capitalise.tutorial::before {
  content: "Capitalises the first letter of each word";
  -webkit-transform: translate(-150px, -20px);
          transform: translate(-150px, -20px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #uppercase.isVisible {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #uppercase.notVisible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #uppercase.tutorial {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #uppercase.tutorial::before {
  content: "Capitalises each letter";
  -webkit-transform: translate(-150px, -30px);
          transform: translate(-150px, -30px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #lowercase.isVisible {
  -webkit-transform: translate(-110px, -110px);
          transform: translate(-110px, -110px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #lowercase.notVisible {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #lowercase.tutorial {
  -webkit-transform: translate(-110px, -110px);
          transform: translate(-110px, -110px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #lowercase.tutorial::before {
  content: "Makes each letter lowercase";
  -webkit-transform: translate(-150px, -10px);
          transform: translate(-150px, -10px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

html body .App #select-container .selectBox #default {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 50px;
  cursor: pointer;
  display: block;
  background: linear-gradient(145deg, #585a58, #3C403D);
  background: linear-gradient(145deg, #676d68, #3C403D);
  text-align: center;
  padding: 55px 30px;
  color: white;
  position: absolute;
  right: 0;
  top: 80px;
}

html body .App #select-container .selectBox #default:hover, html body .App #select-container .selectBox #default :focus, html body .App #select-container .selectBox #default :active {
  background: linear-gradient(145deg, #292929, #3C403D);
  color: #bebdbd;
}

html body .App #output-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-area: 1 / 7 / span 6 / span 6;
  margin-top: 55px;
}

html body .App #output-container #text-container {
  height: 60vh;
  padding: 50px;
  width: 100%;
  background-color: rgba(163, 188, 182, 0.5);
}

html body .App #output-container #text-container #inner-container {
  overflow-y: scroll;
  height: 100%;
}

html body .App #output-container #text-container #inner-container #convertedText {
  color: white;
}

html body .App #output-container #btn-container {
  position: relative;
}

html body .App #output-container #btn-container .clearTextBtn {
  bottom: 7px;
  left: 40px;
}

html body .App #output-container #btn-container .clearTextBtn.isVisible {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: block;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

html body .App #output-container #btn-container .clearTextBtn.notVisible {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

html body .App #output-container #btn-container #copyBtn {
  bottom: 7px;
  left: 8px;
}

html body .App #output-container #btn-container #copyBtn.isVisible {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: block;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

html body .App #output-container #btn-container #copyBtn.notVisible {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
/*# sourceMappingURL=App.css.map */