.textBox {
    width: 600px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  textarea {
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border-color: transparent; 
    width: 550px;
    min-height: 120px;
  }
  
  textarea:focus {
    border-color: transparent; 
  }

  #charCount {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #5F6368;
    font-size: 13px;
  }