*  {
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #22577A;
  height: 100vh;
  padding: 100px;
}

label {
  padding: 20px;
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  color: #C7F9CC;
}

textarea {
  resize: vertical;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ACD2ED;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

textarea:focus {
  outline-color: #99AA38;
}

select {
  background-color: #38A3A5;
  color: white;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  margin-right: 15px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

select:focus {
  outline: none;
}

option {
  background-color: #ACD2ED;
  color: #22577A;
}

button {
  background-color: #57CC99;
  color: #1c4866;
  border-radius: 4px;
  padding: 10px 13px;
  border: none;
  outline: none;
  cursor: pointer;
}

button:active,
button:focus,
button:hover {
  background-color: #38A3A5;
  color: white;
  transition: all 750ms;
}